# Datos de Excel a plantilla de Word

---
Contacto: alejandro.cermeno@protonmail.com

11-01-2021

In [ ]:
%%capture 

# Se instala el módulo a utilizar

!pip install docx-mailmerge

# Se importan las librerías a utilizar

import pandas as pd
import numpy as np
import datetime as dt
from __future__ import print_function
from mailmerge import MailMerge
from datetime import date

# Se conecta Python con las carpetas de Google Drive

from google.colab import drive
drive.mount('/content/drive')

## Se importa la base de datos (datos_ejemplo.xls)

In [ ]:
# Se importa el Excel llamado 'datos_ejemplo.xls'

datos = pd.read_excel('/content/drive/MyDrive/BBVA/datos_ejemplo.xls', 
                   index_col = 0, nrows = 6)

# Se remplazan las celdas vacías con 'No aplica'

datos[ 'Cliente' ].fillna( 'No aplica', inplace = True )   # Para 'Cliente'
datos[ 'Ubicación' ].fillna( 'No aplica', inplace = True )  # Para 'Ubicación'
datos[ 'Precio Venta' ].fillna( 'No aplica', inplace = True ) # Para 'Precio Venta'
datos[ 'Fecha Venta' ].fillna('No aplica', inplace = True ) # Para 'Fecha Venta'

# Se muestran las primeras 5 filas de del Excel importado

datos.head()

            Cliente  Ubicación  Precio Venta Fecha Venta
Referencia
1            Carmen     Lleida       2133903  2004-06-19
2             Pedro     Girona       1945424  2004-04-19
3           Joaquín     Girona        712416  2004-11-08
4             Jesús     Girona       1815450  2004-04-27
5             María  Tarragona       1138024  2004-07-10

## Se importa la plantilla ('carta_ejemplo.docx')

In [ ]:
# Se configuran las variables a llenar

cliente         = datos[ 'Cliente' ]
ubicacion       = datos[ 'Ubicación' ]
precio_venta    = datos[ 'Precio Venta' ].astype(str)
fecha_venta     = pd.to_datetime(datos['Fecha Venta']).dt.strftime('%d-%m-%Y').astype(str)

# Se importa la plantilla llamada 'carta_ejempoo.docx'

plantilla = '/content/drive/MyDrive/BBVA/plantilla_ejemplo.docx'

# Se inspecciona la plantilla

documento = MailMerge(plantilla)
espacios = documento.get_merge_fields() # Espacios a llenar en la plantilla
print(espacios)

# ¿Cuáles son los espacios a llenar en la plantilla?

{'fecha_venta', 'cliente', 'precio_venta', 'ubicacion', 'superficie'}

In [ ]:
fecha_venta

Referencia
1    19-06-2004
2    19-04-2004
3    08-11-2004
4    27-04-2004
5    10-07-2004
6    05-09-2004
Name: Fecha Venta, dtype: object

## Se llena la plantilla

In [ ]:
# Se llena la plantilla de forma automatizada mediante un bucle

for i in range(1, len(cliente)+1):
  documento = MailMerge(plantilla)
  documento.merge( cliente = cliente[i] )
  documento.merge( ubicacion = ubicacion[i] )
  documento.merge( precio_venta = precio_venta[i] )
  documento.merge( fecha_venta = fecha_venta[i] )
  documento.write('/content/drive/MyDrive/BBVA/cartas/carta_'+cliente[i]+'.docx')